.a{
	height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(banner.jpg);
	background-position: center;
	background-size: cover;
	position: absolute;
}

.form{
	height: 480px;
	width: 380px;
	position: relative;
	margin: 6% auto;
	background: #fff;
	padding: 5px;
	overflow: hidden;

}

.button-box{
	width: 220px;
	margin: 35px auto;
	position: relative;
	box-shadow: 0 0 20px 9px #ff61241f;
	border-radius: 30px;
}

.toggle{
	padding: 10px 30px;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: none;
	position: relative;
}

#button{
	top: 0;
	left: 0;
	position: absolute;
	width: 110px;
	height: 100%;
	background: linear-gradient(to right, #ff105f, #ffad06);
	border-radius: 30px;
	transition: 0.5s;
}

.input_groups{
	top: 180px;
	position: absolute;
	width: 280px;
	transition: 0.5s;
}

.input_fields{
	width: 100%;
	padding: 10px 0;
	margin: 5px 0;
	border-left: 0;
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid #999;
	outline: none;
	background: transparent;
}

.submit{
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: linear-gradient(to right, #ff105f, #ffad06);
	border: 0;
	border-radius: 30px;
	outline: none;
}

.checkbox{
	margin: 30px 10px 30px 0;
}

span{
	color: #777;
	font-size: 10px;
	bottom: 68px;
	position: absolute;
}

#login{
	left: 50px;
}

#register{
	left: 450px;
}

#abc{
	left: 2000px;
}

.bb{

	width: 70%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: lightblue;
	border: 0;
	border-radius: 30px;
	outline: none;

}

.bb:hover{
		background-color: green;
		cursor: pointer;
		cursor: hand;
	};

